<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Colour Scheme
    #17252A
    #2B7A78
    #3AAFA9
    #DEF2F1
    #FEFFFF -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deep Audiobook Tuner</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- icons/icon.pngs -->
  <link href="{{ url_for('static', filename='img/icons/icon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <style>
    audio:focus{outline: none;}
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-right header-transparent">
    <div class="container d-flex justify-content-between align-items-right">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="{{ url_for('index', _anchor='home') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('index', _anchor='about')}}">About</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('index')}}">Process</a></li>
          <li><a class="nav-link scrollto active" href="{{ url_for('demo', _anchor='about') }}">Demo</a></li>
          <li><a class="nav-link scrollto" href="{{ url_for('upload_file', _anchor='about') }}">System</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('index', _anchor='team')}}">Team</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= home section ======= -->
  <section id="home">
    <div class="home-container" data-aos="fade-up" data-aos-delay="100">
      <h1>
        <u>D</u>eep <u>A</u>udiobook <u>T</u>uner
      </h1>

      <br>

      <div class="col-lg-6"></div>
        <p style="font-size: 20px; color: white;">
          Check out what DAT has previously created!
        </p>
        <br>
        <a href="#process" class="btn-get-started" style="font-size: 15px; font-weight: 500;">Show me</a>
      </div>
    </div>
  </section>
  <!-- End home section -->

  <!-- ======= process section ======= -->
  <section id="process">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h3 class="section-title" style="margin-bottom:100px;">DAT's previous work</h3>
        <!-- <p class="section-description"></p> -->
      </div>

      <div class="row">

        <div class="col-lg-6 col-md-6" data-aos="zoom-in">
          <div class="box" style="height: 70%;">
              <div class="icon"><i class="bi bi-file-music"></i></div>
              <h4 class="title">Harry Potter Chapter 1</h4>
              <audio controls id="happy-play">
                <source src="{{ url_for('static', filename='demo/demo (1)') }}" type="audio/mpeg">
              </audio>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in">
          <div class="box" style="height: 70%;">
              <div class="icon"><i class="bi bi-file-music"></i></div>
              <h4 class="title">Alice in Wonderland Chapter 1</h4>
              <audio controls id="sad-play">
                <source src="{{ url_for('static', filename='demo/demo (2)') }}" type="audio/mpeg">
              </audio>
              <br>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in">
          <div class="box" style="height: 70%;">
              <div class="icon"><i class="bi bi-file-music"></i></div>
              <h4 class="title">Tom Sawyer Chapter 1</h4>
              <audio controls  id="angry-play">
                <source src="{{ url_for('static', filename='demo/demo (1)') }}" type="audio/mpeg">
              </audio>
              <br>
          </div>
        </div>

        <div class="col-lg-6 col-md-6" data-aos="zoom-in">
          <div class="box" style="height: 70%;">
              <div class="icon"><i class="bi bi-file-music"></i></div>
              <h4 class="title">The Railway kids Chapter 1</h4>      
              <audio controls id="neutral-play">
                <source src="{{ url_for('static', filename='demo/demo (1)') }}" type="audio/mpeg">
              </audio>
              <br>
          </div>
        </div>

      </div>

    </div>
  </section>
    <!-- End process section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved   |   India
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
          crossorigin="anonymous"></script>

  <!-- Regenerate function -->
  <script>
    $(document).on('submit','#regenerate-happy',function(e)
                  {
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: "/regenerate_music/",
        data:{
          data: $("#happy").val()
        },
        success:function()
        {
          document.getElementById("happy-play").load();
        }
      })
    });
  </script>
  <script>
    $(document).on('submit','#regenerate-sad',function(e)
                  {
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: "/regenerate_music/",
        data:{
          data: $("#sad").val()
        },
        success:function()
        {
          document.getElementById("sad-play").load();
        }
      })
    });
  </script>
  <script>
    $(document).on('submit','#regenerate-angry',function(e)
                  {
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: "/regenerate_music/",
        data:{
          data: $("#angry").val()
        },
        success:function()
        {
          document.getElementById("angry-play").load();
        }
      })
    });
  </script>
  <script>
    $(document).on('submit','#regenerate-neutral',function(e)
                  {
      e.preventDefault();
      $.ajax({
        type:'POST',
        url: "/regenerate_music/",
        data:{
          data: $("#neutral").val()
        },
        success:function()
        {
          document.getElementById("neutral-play").load();
        }
      })
    });
  </script>
</body>

</html>