<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Colour Scheme
    #17252A
    #2B7A78
    #3AAFA9
    #DEF2F1
    #FEFFFF -->

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Deep Audiobook Tuner</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- icons/icon.pngs -->
  <link href="{{ url_for('static', filename='img/icons/icon.png') }}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/preloader.css') }}" rel="stylesheet">

</head>

<body>

  <div id="preloader" class="animation">
        <div class="decor">
            <div class="bar"></div>
        </div>
        <p>Loading...</p>
    </div>

    <div class="pre-overlay o-1"></div>
        <div class="pre-overlay o-2"></div>

  <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved   |   India
        </div>
    </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
      $(document).ready(function(){
              $.ajax({
                  type: "POST",
                  url: "/final_processing/",
                  dataType: 'json',
                  // data: null,
                  success: function(response) {
                    window.location.href = response.redirect
                  }
              });
      });
    </script>

</body>

</html>